@{
  ViewData["Title"] = "Global";
}

<script>
    function foo(val) {
        var f = document.getElementById("idOffer");
        var href = f.getAttribute("href");
        href = href.replace("idOffer", val);
        f.setAttribute("href", href);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
    <div class="modal-content theme-color-back-bg">
      <div class="modal-header" style="border-color: #1e1e1e;">
        <h5 class="modal-title" id="exampleModalLabel">Your Offers</h5>
        <button type="button" class="btn-close theme-color-front-bg" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <ul class="offers">
          @{
            var offersMine = (List<Offer>?)ViewData["Offers.Mine"];
            for (int i = 0; i < offersMine?.Count; i++)
            {
            <li>
                <img class="offers-li-profile-image" src="image/userUnknown.png"/>
                <div class="offers-li-items">@offersMine[i].Title</div>
                <div class="offers-li-description">@offersMine[i].Description</div>
                <div class="offers-li-images-container">
                    @{
                    var images = offersMine[i]?.Images.Split('|');
                        @for (int j = 0; j < images?.Length; j++)
                    {
                            <img class="offers-li-images-item" src="@images[j]" />     
                    }
                    }
                </div>
                <a id="idOffer" class="offers-offer btn" href="Offer/idOffer/@offersMine[i].Id">Offer</a>
            </li>
            }
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center theme-color-front-text">Global Offers</h2>

<ul class="offers">
  @{
    var offersAll = (List<Offer>?)ViewData["Offers.All"];
    for (int i = 0; i < offersAll?.Count; i++)
    {
      var offerAllCurrent = offersAll[i];
        <li>
            <img class="offers-li-profile-image" src="image/userUnknown.png"/>
            <div class="offers-li-items">@offerAllCurrent.Title</div>
            <div class="offers-li-description">@offerAllCurrent.Description</div>
            <div class="offers-li-images-container">
                @{
                  var images = offerAllCurrent?.Images.Split('|');
                      @for (int j = 0; j < images?.Length; j++)
                  {
                          <img class="offers-li-images-item" src="@images[j]" />     
                  }
          }
        </div>
          <button class="offers-offer btn" onclick="foo(@offerAllCurrent?.Id)" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Offer</button>
        </li>
  }
}
</ul>